<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="private web site of Bernhard Leiner">
    <title>bernhard's little universe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script src="https://kit.fontawesome.com/cadd890272.js" crossorigin="anonymous"></script>

    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
    
    {% block script %} 
      <!-- template specific javascript to be placed here -->
    {% endblock %}
  </head>

  <body>

    <nav class="navbar is-transparent" >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">home</a>
        <a role="button" class="navbar-burger" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ get_url(path='@/blog/_index.md') }}">blog</a>
          <a class="navbar-item" href="{{ get_url(path='@/publications.md') }}">publications</a>
          <a class="navbar-item" href="{{ get_url(path='@/projects/_index.md') }}">projects</a>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>

  </body>

</html>
