{% extends "base.html" %}

{% block script %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <style>
    html, body { height: 100%; width: 100% }
  </style>

<!-- load workout WASM module -->
<script type="module">
  import init, {wasm_init, wasm_summarize, wasm_gui_create} from '/wasm/workout_pkg/workout.js';

  async function run() {
    var paces = {
      "Easy" : "5:40",
      "Tempo" : "4:35",
      "jog" : "6:10",
    };

    await init();
    wasm_gui_create();
  };

  run();

</script>

{% endblock script %}

{% block content %}
<h2 class="title is-4">
  {{ page.title }}
</h2>


<div class="columns">

  <div class="column">
    <div class="content">
      {{ page.content | safe }}
    </div>
  </div>

  <div class="column">
    <div class="box">
      <canvas id="egui_canvas_id" width="500" height="500"> </canvas>
    </div>
  </div>

</div>

{% endblock content %}

